<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Survey result</title>
</head>
<body>
    Thank {{name}} for answer the survey
    <hr>
    Today is {{currentDate }}
</body>
</html>